.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-bottom: 16px;
  align-items: center;
}

mat-form-field {
  width: 200px;
}

mat-checkbox {
  margin-top: 10px;
  color: #b71c1c;
}

.mat-form-field.mat-focused .mat-form-field-label {
  color: #b71c1c !important;
}

.mat-form-field.mat-focused .mat-input-element {
  border-bottom: 2px solid #b71c1c;
}
