:host {
  display: block;
  padding: 16px;
  background-color: white;
  color: #b71c1c; /* rojo oscuro */
  font-family: Roboto, sans-serif;
}

.table-header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 16px;
}

button.mat-raised-button {
  background-color: #b71c1c; /* rojo oscuro */
  color: white;
}

button.mat-raised-button:hover {
  background-color: #d32f2f;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.mat-header-cell {
  background-color: #ffcdd2; /* rojo claro */
  font-weight: bold;
  color: #b71c1c;
}

.mat-cell {
  color: #333;
}

.mat-sort-header-arrow {
  color: #b71c1c !important;
}
